<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="SourceDirectory" value="E:\\ArtByArtist\" />
		<add key="DestinationDirectory" value="E:\\backgrounds\LabeledArt\" />
		<add key="FileNameDelimiter" value="_" />
		<add key="DisplayTextFormat1" value="\2     by \1" />
		<add key="DisplayTextFormat2" value="\3     by \2 \1" />
		<add key="BreakWordsOnCapitals" value="true" />
	</appSettings>	
</configuration>