<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="SourceDirectory" value="E:\\ArtByArtist\" />
		<add key="DestinationDirectory" value="E:\\backgrounds\LabeledArt\" />
		<add key="FileNameRegex" value="[a-zA-Z0-9]+" />
		<add key="DisplayTextFormat" value="\2 by \1" />
	</appSettings>	
</configuration>